{% extends "admin/change_list.html" %}
{% block object-tools-items %}

{{ block.super }}

<li style="padding-left: 10px">
    <form method="GET" action="export/?{{ request.GET.urlencode }}">
        <label><input type="checkbox" name="export_settings[]" value="user_profiles" /> user_profiles</label>
        <label><input type="checkbox" name="export_settings[]" value="pregnancies" /> pregnancies</label>
        <label><input type="checkbox" name="export_settings[]" value="children" /> children</label>
        <label><input type="checkbox" name="export_settings[]" value="survey_responses" /> survey_responses</label>
        <label><input type="checkbox" name="export_settings[]" value="notifications" /> notifications</label>
        <button type="submit" class="grp-state-focus addlink" style="background: #888; border: 0; color: #fff; border-radius: 15px; padding: 5px 15px; cursor: pointer;">Export</button> 
    </form>
</li>

{% endblock %}